@charset "UTF-8";

@font-face {
  font-family: "Kristen ITC";
  src: url("fonts/KristenITC.ttf") format("truetype");
  font-weight: normal;
}

* {
  padding: 0px;
  margin: 0px;
}

:root {
  --black: #000;
  --white: #fff;

  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-destaque: "Kristen ITC", sans-serif;

  --shadow-bc-lb: 0.65em 0.65em 0px var(--black);
  --shadow-bc-lt: 0.75em -0.65em 0px var(--black);
  --shadow-bc-rb: -0.65em 0.65em 0px var(--black);
  --shadow-bc-rt: -0.65em -0.65em 0px var(--black);
  --padding-bc-lb: 0px 0.65em 0.65em 0px;
  --padding-bc-lt: 0.65em 0.75em 0px 0px;
  --padding-bc-rb: 0px 0.65em 0px 0.65em;
  --padding-bc-rt: 0px 0px 0.65em 0.65em;

  --shadow-bt-lb: 0.35em 0.35em 0px var(--black);
  --shadow-bt-lt: 0.45em -0.35em 0px var(--black);
  --shadow-bt-rb: -0.35em 0.35em 0px var(--black);
  --shadow-bt-rt: -0.35em -0.35em 0px var(--black);
  --padding-bt-lb: 0px 0.35em 0.35em 0px;
  --padding-bt-lt: 0.35em 0.45em 0px 0px;
  --padding-bt-rb: 0px 0.35em 0px 0.35em;
  --padding-bt-rt: 0px 0px 0.35em 0.35em;

  --model-quadro01: 0% 5%, 100% 0%, 96% 100%, 3% 95%;
  --model-quadro02: 0% 0%, 100% 5%, 97% 100%, 5% 100%;
}

body {
  font-family: var(--fonte-padrao);
  font-size: 1em;
  margin: 15px;
}

header,
main,
footer {
  max-width: 900px;
  margin: auto;
}

.he-geral {
  position: relative;
}

.he-sombra {
  filter: drop-shadow(var(--shadow-bc-rb));
  padding: var(--padding-bc-rb);
  margin-bottom: 30px;
  display: block;
}

.he-borda,
.he-conteudo {
  clip-path: polygon(0% 8%, 100% 0%, 96% 100%, 3% 85%);
}

.he-borda {
  background-color: var(--black);
  padding: 3px;
  display: block;
}

.he-conteudo {
  background-color: rgb(201, 180, 248);
  padding: 100px 5%;
  text-align: center;
  display: block;
}

.he-conteudo p {
  font-size: 3em;
  text-align: center;
  font-family: var(--fonte-destaque);
}

/*
        Bloco conteúdo geral
        Identificado como "bc-" (bloco central)
      */

/* .bc-geral {
  position: relative;
  top: -50px;
} */

.bc-sombra {
  filter: drop-shadow(var(--shadow-bc-lb));
  padding: var(--padding-bc-lb);
  display: block;
}

.bc-borda,
.bc-conteudo {
  clip-path: polygon(var(--model-quadro01));
}

.bc-borda {
  background-color: var(--black);
  padding: 3px;
  display: block;
}

.bc-conteudo {
  background-color: rgb(209, 209, 209);
  padding: 60px 5% 30px 5%;
  text-align: justify;
  display: block;
}

/* #################################### 
    Quadros principais - conteúdo
   #################################### */

.teste {
  width: 300px;
  height: 300px;
  background-color: blue;
}

.quadro-geral {
  position: relative;
  top: 20px;
}

.titulo-geral-left {
  position: relative;
  top: 40px;
  left: 30px;
  z-index: 1;
}

.titulo-geral-right {
  position: relative;
  float: right;
  top: -30px;
  left: -30px;
  z-index: 1;
}

.quadro-sombra-left-top {
  filter: drop-shadow(-0.65em -0.65em 0px var(--black));
  padding: var(0px 0px 0.65em 0.65em);
}

.quadro-sombra-left-bottom {
  filter: drop-shadow(-0.65em 0.65em 0px var(--black));
  padding: var(0px 0.65em 0px 0.65em);
}

.quadro-sombra-right-top {
  filter: drop-shadow(0.75em -0.65em 0px var(--black));
  padding: var(0.65em 0.75em 0px 0px);
}

.quadro-sombra-right-bottom {
  filter: drop-shadow(0.65em 0.65em 0px var(--black));
  padding: var(0px 0.65em 0.65em 0px);
}

.titulo-sombra-left-top {
  filter: drop-shadow(-0.35em -0.35em 0px var(--black));
  padding: var(0px 0px 0.35em 0.35em);
  display: inline-block;
}

.titulo-sombra-left-bottom {
  filter: drop-shadow(-0.35em 0.35em 0px var(--black));
  padding: var(0px 0.35em 0px 0.35em);
  display: inline-block;
}

.titulo-sombra-right-top {
  filter: drop-shadow(0.45em -0.35em 0px var(--black));
  padding: var(0.35em 0.45em 0px 0px);
  display: inline-block;
}

.titulo-sombra-right-bottom {
  filter: drop-shadow(0.35em 0.35em 0px var(--black));
  padding: var(0px 0.35em 0.35em 0px);
  display: inline-block;
}

.quadro-borda-modelo01,
.quadro-conteudo-modelo01,
.titulo-borda-modelo01,
.titulo-conteudo-modelo01 {
  clip-path: polygon(0% 5%, 100% 0%, 97% 100%, 3% 95%);
}

.quadro-borda-modelo02,
.quadro-conteudo-modelo02,
.titulo-borda-modelo02,
.titulo-conteudo-modelo02 {
  clip-path: polygon(0% 0%, 100% 5%, 97% 100%, 3% 100%);
}

.quadro-borda-modelo03,
.quadro-conteudo-modelo03,
.titulo-borda-modelo03,
.titulo-conteudo-modelo03 {
  clip-path: polygon(0% 0%, 100% 5%, 97% 100%, 5% 100%);
}

.quadro-borda-modelo04,
.quadro-conteudo-modelo04,
.titulo-borda-modelo04,
.titulo-conteudo-modelo04 {
  clip-path: polygon(0% 0%, 100% 5%, 97% 100%, 5% 100%);
}

.quadro-borda-modelo01,
.quadro-borda-modelo02,
.quadro-borda-modelo03,
.quadro-borda-modelo04,
.titulo-borda-modelo01,
.titulo-borda-modelo02,
.titulo-borda-modelo03,
.titulo-borda-modelo04 {
  background-color: var(--black);
  padding: 3px;
  display: block;
}

.quadro-conteudo-modelo01,
.quadro-conteudo-modelo02,
.quadro-conteudo-modelo03,
.quadro-conteudo-modelo04,
.titulo-conteudo-modelo01,
.titulo-conteudo-modelo02,
.titulo-conteudo-modelo03,
.titulo-conteudo-modelo04 {
  background-color: rgb(209, 209, 209);
}

.quadro-conteudo-modelo01 {
  padding: 60px 5% 30px 5%;
  text-align: justify;
  display: block;
}

.quadro-conteudo-modelo02 {
  padding: 60px 5% 30px 5%;
  text-align: justify;
  display: block;
}

.quadro-conteudo-modelo03 {
  padding: 60px 5% 30px 5%;
  text-align: justify;
  display: block;
}

.quadro-conteudo-modelo03 {
  padding: 60px 5% 30px 5%;
  text-align: justify;
  display: block;
}

.quadro-conteudo-modelo01 p,
.quadro-conteudo-modelo02 p,
.quadro-conteudo-modelo03 p,
.quadro-conteudo-modelo04 p {
  clear: both;
}

.titulo-conteudo-modelo01,
.titulo-conteudo-modelo02,
.titulo-conteudo-modelo03,
.titulo-conteudo-modelo04 {
  background-color: rgb(153, 153, 153);
  padding: 15px 35px 15px 30px;
  display: block;
}
